*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Open Sans',sans-serif;

}
#hero{
    width: 592px;
    margin: 0 auto 72px;
}
#hero img{
    margin-bottom: 72px;
}
h1{
    font-family: 'Inter',sans-serif;
    color: black;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
}
h1 span{
    font-weight: bold;
}
span, a{
    color: #FF9900;
}
p{
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}
.line{
    border: solid 1px #ECEFF2;
    width: 568px;
    height: 0;
    margin: 0 auto 8px;
}
#footer{
    font-size: 14px;
    line-height: 28px;
}
#footer a + a{
    margin-left: 28px;
}
.ball{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 98px;
    height: 88px;
}